In [2]:
import pandas as pd

In [37]:
dataset = pd.read_csv("cars.csv")

In [38]:
dataset

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [39]:
columns = dataset.columns
columns_new = list()
for column_index in range(len(dataset.columns)) :
    columns_new.append(columns[column_index].strip())
dataset.columns = columns_new

In [40]:
for row_index in range(len(dataset)) :
    dataset.loc[row_index, "brand"] = dataset.loc[row_index, "brand"].strip()

In [30]:
#dataset["brand"].replace({"US." : 1, "Europe." : 2, "Japan." : 3}, inplace = True)

In [41]:
dataset

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year    brand
0    14.0          8         350  165      4209          12  1972      US.
1    31.9          4          89   71      1925          14  1980  Europe.
2    17.0          8         302  140      3449          11  1971      US.
3    15.0          8         400  150      3761          10  1971      US.
4    30.5          4          98   63      2051          17  1978      US.
..    ...        ...         ...  ...       ...         ...   ...      ...
256  17.0          8         305  130      3840          15  1980      US.
257  36.1          4          91   60      1800          16  1979   Japan.
258  22.0          6         232  112      2835          15  1983      US.
259  18.0          6         232  100      3288          16  1972      US.
260  22.0          6         250  105      3353          15  1977      US.

[261 rows x 8 columns]

In [101]:
for column_index in dataset.columns :
    if column_index != "brand" and type(dataset.loc[0][column_index]) == str :
        #ataset[column_index] = pd.to_numeric(dataset[column_index])
        print(column_index)

cubicinches
weightlbs

In [34]:
k = 5
rows = len(dataset)
columns = len(dataset.columns)

In [48]:
from math import sqrt
def find_euclidean_distance (row1, row2) :
    euclidean_distance = 0
    for column_index in range(len(dataset.columns)) :
        first = row1[column_index]
        second = row2[column_index]
        if type(first) == str :
            if first != second :
                euclidean_distance += 1
        else :
            euclidean_distance += ((first - second) ** 2)
    return sqrt(euclidean_distance)

In [69]:
def find_closest_cluster(current_tuple, centroids) :
    distance = None
    closest_cluster = -1
    for cluster in centroids :
        current_centroid = centroids[cluster]
        current_distance = find_euclidean_distance(current_tuple, current_centroid)
        if distance == None :
            distance = current_distance
            closest_cluster = cluster
        elif distance > current_distance :
            distance = current_distance
            closest_cluster = cluster
    return closest_cluster

In [ ]:
def update_centroids(clusters, centroids) :
    for cluster in clusters :
        current_cluster = clusters[cluster]
        centroid = list()

In [70]:
def kmeans(dataset, k = 2) :
    clusters = dict()
    centroids = dict()
    for i in range(0, k):
        first = dataset.loc[i]
        clusters[i] = [first]
        centroids[i] = first
    rows = len(dataset)
    for row_index in range(k, rows) :
        current_tuple = dataset.loc[row_index]
        closest_cluster = find_closest_cluster(current_tuple, centroids)
        clusters[closest_cluster].append(current_tuple)
    update_centroids(clusters, centroids)
    converged = False
    while converged == False :
        
    return clusters

In [43]:
row1 = dataset.loc[0]
type(row1[7])

str

In [47]:
from math import sqrt
sqrt(4)

2.0

In [72]:
clusters = kmeans(dataset)

In [76]:
len(clusters[0])

79

In [65]:
for i in range(2, rows) :
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260

In [66]:
a = None
a == None

True

In [78]:
list(dataset.loc[0])

[14.0, 8, '350', 165, '4209', 12, 1972, 'US.']

In [97]:
dataset.loc[40]

mpg              16
cylinders         6
cubicinches
hp              105
weightlbs      3897
time-to-60       19
year           1976
brand           US.
Name: 40, dtype: object

In [110]:
dataset[dataset["cubicinches"] == " "] = 0
dataset[dataset["weightlbs"] == " "] = 0
for row_index in range(len(dataset)) :
    dataset.loc[row_index]["cubicinches"] = int(dataset.loc[row_index]["cubicinches"])
    dataset.loc[row_index]["weightlbs"] = int(dataset.loc[row_index]["weightlbs"])

/home/BE/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/BE/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [109]:
import statistics
statistics.mean(dataset["cubicinches"])

TypeError: can't convert type 'str' to numerator/denominator